body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Helvetica,Arial,sans;
	color: #000000;
}

.header {
	border: 0;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid;
	margin-bottom: 20px;
}

h1 {
	background-color: black;
	color: white;
	font-size: 25px;
	margin: 10px 0 0 0;
	padding: 10px 0;
}

.button-bar {
	margin: 40px;
	text-align: center;
}

#content {
	margin: 0 auto;
	width: 700px;
}

.download {
	float: right;
}

.description {
	font-size: 20px;
	font-style: italic;
}

pre {
	background: #222;
	color: #fff;
	padding: 10px;
}

.button {
	border:0 solid #495267;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 14px 14px 14px 14px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold;
	font-size: 0.9em;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	background-color: #606c88;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
	background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
	background-image: linear-gradient(to bottom, #606c88, #3f4c6b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#606c88, endColorstr=#3f4c6b);
}
 
.button:hover {
	border:0 solid #363d4c;
	background-color: #4b546a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4b546a), top(#2c354b));
	background-image: -webkit-linear-gradient(top, #4b546a, #2c354b);
	background-image: -moz-linear-gradient(top, #4b546a, #2c354b);
	background-image: -ms-linear-gradient(top, #4b546a, #2c354b);
	background-image: -o-linear-gradient(top, #4b546a, #2c354b);
	background-image: linear-gradient(to bottom, #4b546a, #2c354b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4b546a, endColorstr=#2c354b);
}

a {
	color: #444;
}

#footer {
	padding-top: 50px;
	text-align: center;
	font-style: italic; 
	color: #999;
}